PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wishwise?schema=public"
JWT_SECRET="wishwise_super_secret_jwt_key_2026"
JWT_REFRESH_SECRET="wishwise_super_secret_refresh_jwt_key_2026"
CLIENT_URL="http://localhost:5173"
API_URL="http://localhost:5000"
NODE_ENV="development"
AI_API_KEY=""
